@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Air.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-AirItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-BlackItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-BoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 250;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 250;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-MediumItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-RegularItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-ThinItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Ole;
  src: url("../assets/fonts/Ole.otf") format("opentype");
}