@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .display-large {
    @apply font-primary font-black text-[96px] leading-[90px]; 
  }

  .display-medium {
    @apply font-primary font-black text-[72px] leading-[70px]; 
  }

  .display-small {
    @apply font-primary font-black text-[64px] leading-[60px]; 
  }

  .title-large {
    @apply font-primary font-bold text-[80px] leading-[72px]; 
  }

  .title-medium {
    @apply font-primary font-bold text-[72px] leading-[64px]; 
  }

  .title-small {
    @apply font-primary font-bold text-[64px] leading-[60px]; 
  }

  .content-large {
    @apply font-primary font-normal text-[32px] leading-[40px];
  }

  .content-medium {
    @apply font-primary font-normal text-[24px] leading-[32px];
  }

  .content-small {
    @apply font-primary font-normal text-[16px];
  }
}

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Air.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-AirItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-BlackItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-BoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 250;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 250;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-MediumItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-RegularItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-ThinItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Ole;
  src: url("../assets/fonts/Ole.otf") format("opentype");
}


.dropdown_mobile {
  transition: all 0.3s ease-in-out;
  height: 0;
  overflow: hidden;
}

.dropdown.active .dropdown_mobile {
  transition: all 0.3s ease-in-out;
  height: 130px;
}

.panel__expand {
  border: 1px solid #000;
  padding: 0;
  border-radius: 20px;
  height: 96px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.pannel__active {
  background-color: #F1F1F1;
  border: 0;
}

.panel__expand.pannel__active.small {
  height: 250px;
}

.panel__expand.pannel__active.medium {
  height: 320px;
}

.panel__expand.pannel__active.large {
  height: 500px;
}

.panel__expand.pannel__active .panel__expand__button {
  transform: rotate(-90deg);
  background-color: #D9FE95;
}

.panel__expand__button {
  background-color: #fff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}


.bg__blur__negative {
  -webkit-backdrop-filter: hue-rotate(180deg) invert() blur(15px);
  backdrop-filter: hue-rotate(180deg) invert() blur(10px);
  background-color: rgba(44, 41, 41, 0.5);
}