.banner_gsap {
    clip-path: circle(0% at 50% 50%);
}
.clip1 {
    clip-path: circle(0.5% at 50% 50%);
}

.clip2 {
    clip-path: circle(1% at 50% 50%);
}

.clip3 {
    clip-path: circle(1.5% at 50% 50%);
}

.clip4 {
    clip-path: circle(2% at 50% 50%);
}

.clip5 {
    clip-path: circle(2.5% at 50% 50%);
}