.galaxy {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 12%, rgba(188, 245, 0, 1) 100%);
}

.entusiasta {
    background: url("https://firebasestorage.googleapis.com/v0/b/dev-system2023.appspot.com/o/360%2Fentusiastas.png?alt=media&token=d2855cd0-4d35-41dd-8242-8174a974bea2");
    background-size: contain;
    background-repeat: no-repeat;
}