.comment:hover .comment_body {
    display: block;
}

@media (max-width: 640px) {
    .comment:hover .comment_body {
        display: none;
    }
}

.avatar {
    animation: pulse 2s infinite;
}

.avatar:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    }

    100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}