.body__floating__menu {
    -webkit-backdrop-filter: hue-rotate(180deg) invert() blur(15px);
    backdrop-filter: hue-rotate(180deg) invert() blur(15px);
    background-color: rgba(31, 31, 31, 0.5);
}